{#
/**
 * @file
 * Default theme implementation for pwa-offline page.
 *
 */
#}
<p data-drupal-pwa-offline="true">{{ 'You are offline.'|t }}</p>
<input type="button" value="{{ 'Reload Page'|t }}" onClick="document.location.reload(true)">
